body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 0;
}
div.window {
  width: 700px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #424242;
  border-top-width: 32px;
  overflow: auto;
}
ul.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}
ul.timeline > li {
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
  width: 20%;
}
ul.timeline > li.event {
  background-color: silver;
}
ul.timeline > li.today {
  background-color: yellow;
}
ul.timeline > li.today-notification {
  background-color: green;
}
ul.timeline.events-3 {
  width: 100%;
}
ul.timeline.events-3 > li.event:first-child {
  margin-right: 20%;
}
ul.timeline.events-3 > li.event:last-child {
  margin-left: 20%;
}
ul.timeline.events-4 {
  width: 100%;
}
ul.timeline.events-4 > li.event,
ul.timeline.events-4 > li.today {
  margin-right: 6.66666667%;
}
ul.timeline.events-4 > li.event:last-child {
  margin-right: 0;
}
#nav {
  padding: 10px;
  left: 0;
  top: 0;
}
#nav a {
  display: inline-block;
  margin-right: 10px;
}
#container {
  margin: 1.5em 0 0;
  overflow: auto;
  width: 500px;
  padding: 0;
}
#container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 2500px;
}
#container ul .ab {
  background-color: orange;
  float: left;
  padding: 0;
  margin: 0;
  width: 500px;
}
#container ul .ab:nth-child(odd) {
  background-color: lime;
}
#container ul .ab div {
  height: 500px;
}
