body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

div.animation {
    &-run {
        background: url('../doc/tuna_sprite.png') 0 0;
        background-repeat: no-repeat;
        height: 200px;
        width: 400px;

        animation: run 800ms steps(13) infinite;

        @keyframes run {
            0%      { background-position: -1200px 0; }
            100%    { background-position: -1200px -2591px; }
        }
    }

    &-walk {
        background: url('../doc/tuna_sprite.png') 0 0;
        background-repeat: no-repeat;
        height: 200px;
        width: 400px;

        animation: walk 900ms steps(12) infinite;

        @keyframes walk {
            0%      { background-position: 0px 0; }
            100%    { background-position: 0px -2391px; }
        }
    }
}